{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <title>ChandraMohan Sah</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <!-- Global CSS files -->
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<body>
  {% include 'app_mydetail/sidebar.html' %}
  {% include 'app_mydetail/smallscreen.html' %}

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">

    {% if messages %}
        <div class="messages w3-panel w3-round-large w3-pink w3-center w3-large" style="width:100%; position: relative;">
            <button class="close-btn" onclick="this.parentElement.style.display='none'" style="position: absolute; top: 5px; right: 10px; background: none; border: none; font-size: 20px; font-weight: bold; cursor: pointer;">&times;</button>
            {% for message in messages %}
                <class="w3-serif w3-xlarge {{ message.tags }}">{{ message }}</class>
            {% endfor %}
        </div>
    {% endif %}


      <!-- Header -->
      {% include 'app_mydetail/1header.html' %}

      {% include 'app_mydetail/photogrid.html' %}

      {% include 'app_mydetail/projects.html' %}

      {% include 'app_mydetail/experience.html' %}

      {% include 'app_mydetail/interests.html' %}

      {% include 'app_mydetail/8footer.html' %}

  </div>

    <!-- Global javascript files -->
  <script src="{% static 'js/basecontroller.js' %}"></script>

</body>
</html>
