
<div class="container">
  <div class="w3-container" style="margin-top:49px" id="webdev">
    <h1 class="w3-xxlarge w3-text-white  w3-left-align"><b>Programming</b></h1>
    <div class="text-right">
      <hr style="width:50px;border:5px solid white;" class="w3-round">
  </div>
</div>

  <div class="w3-cell-row black w3-padding w3-round">
    <!-- First Accordion for C++ -->
    <div class="w3-container w3-cell w3-mobile">
      <div class="w3-button w3-round-large key" onclick="myAccFunc('demoAcc1')">DataStructure <i class="fa fa-caret-down"></i></div>
      <div id="demoAcc1" class="w3-hide w3-padding">
        <ul class="key">
          <li>Basics of Python</li>
          <li>Object-Oriented Programming</li>
          <li>Web Development with Django</li>
          <li>Data Science and Machine Learning</li>
        </ul>
      </div>
    </div>
  
    <!-- Second Accordion for Python -->
    <div class="w3-container w3-cell w3-mobile">
      <div class="w3-button w3-round-large key" onclick="myAccFunc('demoAcc2')">Algorithm <i class="fa fa-caret-down"></i></div>
      <div id="demoAcc2" class="w3-hide w3-padding">
        <ul class="key">
          <li>Basics of Python</li>
          <li>Object-Oriented Programming</li>
          <li>Web Development with Django</li>
          <li>Data Science and Machine Learning</li>
        </ul>
      </div>
    </div>

        <!-- Second Accordion for Python -->
    <div class="w3-container w3-cell w3-mobile">
      <div class="w3-button w3-round-large key" onclick="myAccFunc('demoAcc3')">CPP<i class="fa fa-caret-down"></i></div>
        <div id="demoAcc3" class="w3-hide w3-padding">
          <ul class="key">
            <li>Basics of Python</li>
            <li>Object-Oriented Programming</li>
            <li>Web Development with Django</li>
            <li>Data Science and Machine Learning</li>
            <li>Basics of Python</li>
            <li>Object-Oriented Programming</li>
            <li>Web Development with Django</li>
            <li>Data Science and Machine Learning</li>
            </ul>
          </div>
      </div>

      <div class="w3-container w3-cell w3-mobile">
        <div class="w3-button w3-round-large key" onclick="myAccFunc('demoAcc4')">Python<i class="fa fa-caret-down"></i></div>
          <div id="demoAcc4" class="w3-hide w3-padding">
            <ul class="key">
              <li>Basics of Python</li>
              <li>Object-Oriented Programming</li>
              <li>Web Development with Django</li>
              <li>Data Science and Machine Learning</li>
              </ul>
            </div>
        </div>

  
  </div>
  

</div>


  





