

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-container" style="margin-top:80px" id="webdev">
    <h1 class="w3-xxlarge w3-text-white  w3-left-align"><b>Web Dev</b></h1>
    <div class="text-right">
      <hr style="width:50px;border:5px solid white;" class="w3-round">
  </div>
</div>

<div class="container">
    <div class="w3-cell-row black w3-padding w3-round">

      <!-- First Accordion for C++ -->
      <div class="w3-container w3-cell w3-mobile">
        <div class="w3-button w3-round-large key" onclick="myAccFunc('demoAcc5')">Django <i class="fa fa-caret-down"></i></div>
        <div id="demoAcc5" class="w3-hide w3-padding">
          <ul class="key">
            <li>Basics of Python</li>
            <li>Object-Oriented Programming</li>
            <li>Web Development with Django</li>
            <li>Data Science and Machine Learning</li>
          </ul>
        </div>
      </div>

      <!-- First Accordion for C++ -->
      <div class="w3-container w3-cell w3-mobile">
        <div class="w3-button w3-round-large key" onclick="myAccFunc('demoAcc6')">Django Rest Framework<i class="fa fa-caret-down"></i></div>
          <div id="demoAcc6" class="w3-hide w3-padding">
            <ul class="key">
              <li>Basics of Python</li>
              <li>Object-Oriented Programming</li>
              <li>Web Development with Django</li>
              <li>Data Science and Machine Learning</li>
              </ul>
            </div>
        </div>


    </div>
</div>



