{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Cards Responsive</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="{% static 'app_mydetail/css/photogrid.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<section>
	<div class="container py-4">
		<article class="postcard dark blue">

		</article>

		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="{% static 'app_mydetail/images/pas.png' %}" alt="Image Title" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">Chandra Mohan Sah</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Graduation Year [2021-2025]<br>
						<i class="fas fa-calendar-alt mr-2"></i>+2  [2018-2020]
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">I am a back-end developer with experience in django, drf, mysql and Javascript for developing a responsive website. I am pursuing my bachelor of electronics, communication and information at Institute of Engineering Thapathali Campus. I am looking forward to working as a web developer and gaining more experience in the field of web development. Apart from this, my personal interest is learning new things and getting socialised even more. I feel ready to take my career to the next level and looking for new opportunities.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Download Resume</a>
					</li>
				</ul>
			</div>
		</article>


	</div>
</section>

<!-- partial -->
  
</body>
</html>
