{% load static %}
<link rel="stylesheet" href="{% static '/app_mydetail/css/interests.css' %}">

<div class="w3-container" style="margin-top:80px" id="experience">
    <h1 class="w3-xxxlarge w3-text-white  w3-left-align"><b>Tech Experience</b></h1>
    <div class="text-right">
      <hr style="width:50px;border:5px solid white;" class="w3-round">
  </div>
</div>

<div class="w3-panel w3-leftbar w3-padding-32">
    <p><i>"In today's rapidly evolving digital landscape, having a robust tech experience is crucial for both individuals and businesses alike."</i></p>

    <div class="skills-container w3-container">
      <div class="grid">
        {% for experience in experiences %}
          <div class="card">
              <div class="icon cpp">{{experience.icon}}</div>
              <div class="text">{{experience.tech}}</div>
          </div>
          {% endfor %}
      </div>
    </div> 
    
</div>