{% load static %}

<head>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="{% static 'app_mydetail/css/projects.css' %}">
</head>
 
<body>
<!-- partial:index.partial.html -->

<div class="w3-container" id="project" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-white"><b>Projects.</b></h1>
    <hr style="width:50px;border:5px solid white" class="w3-round">
</div>

<div class="content-wrapper">

  {% for project in projects %}
      <div class="news-card">
          <a href="#" class="news-card__card-link"></a>
          <img src="{% static project.image %}" alt="" class="news-card__image">
          <div class="news-card__text-wrapper">
              <h2 class="news-card__title">{{ project.title }}</h2>
              <div class="news-card__post-date">Project {{ project.serial }} [{{ project.year }}]</div>
              <div class="news-card__details-wrapper">
                  <p class="news-card__excerpt">{{ project.description }}</p>
                  <a href="{{ project.link }}" class="news-card__read-more">Live Demo<i class="fas fa-long-arrow-alt-right"></i></a>
              </div>
          </div>
      </div>
  {% endfor %}

</div>

</body>
</html>
